<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo App ログイン</title>
    <link rel="stylesheet" href="top.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <hgroup>
      <h1>ToDo App ログイン</h1>
    </hgroup>
    <form action="/login" method="post">
      <div class="group">
        <input type="email" name="email" required aria-label="メールアドレス" placeholder=" "><span class="highlight"></span><span class="bar"></span>
        <label>メールアドレス</label>
      </div>
      <div class="group">
        <input type="password" name="password" required aria-label="パスワード" placeholder=" "><span class="highlight"></span><span class="bar"></span>
        <label>パスワード</label>
      </div>
      <input type="submit" value="ログイン" class="button buttonBlue">
      <a href="/register" class="button buttonGreen">アカウント登録</a>
    </form>
  </body>
</html>
