<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="top.css">
    <title>ToDo App アカウント登録</title>
</head>
<hgroup>
    <h1>ToDo App アカウント登録</h1>
  </hgroup>
  <form action="/register" method="post">
    <% if (register_error && register_error.length > 0) { %>
      <div class="error-message">
          <p><%= register_error %></p>
      </div>
    <% } %>
    <div class="group">
        <input type="text" name="username" required><span class="highlight"></span><span class="bar"></span>
        <label>ユーザーネーム</label>
      </div>
    <div class="group">
      <input type="email" name="email" required><span class="highlight"></span><span class="bar"></span>
      <label>メールアドレス</label>
    </div>
    <div class="group">
      <input type="password" name="password" required><span class="highlight"></span><span class="bar"></span>
      <label>パスワード</label>
    </div>
    <input type="submit" value="登録" class="button buttonBlue">
    <a href="/login" class="button buttonGreen">ログイン画面に戻る</a>
  </form>

</body>
</html>