<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App アカウント登録</title>
</head>
<body>
    <form action="register" method="post">

        <p>ユーザーネーム</p>
        <input type="text" name="username">

        <p>メールアドレス</p>
        <input type="email" name="email">
        
        <p>パスワード</p>
        <input type="password" name="password">
        
        <input type="submit" value="登録">
    </form>

    <a href="/login">ログイン画面に戻る</a>
</body>
</html>