body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1, h2 {
    text-align: center;
    color: #333;
}

#login{
    text-align: right;
}

.create{
    padding: 15px;
}

.group {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.not-started {
    background-color: #ffebcc; 
}

.in-progress {
    background-color: #cce5ff;
}

.completed {
    background-color: #d4edda;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-content {
    flex-grow: 1;
}

.task li {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #333;
} 

.task small {
    font-size: 12px;
    color: #777;
}

.task-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #0056b3;
}
